.messages {
  overflow-y: auto;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.messages .me {
  text-align: left;
  margin: 10px 0;
  padding: 10px;
  background-color: #d1ffd6;
  border-radius: 10px;
  max-width: 60%;
  margin-right: auto;
  align-self: flex-start;
}

.messages .other {
  text-align: right;
  margin: 10px 0;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 10px;
  max-width: 60%;
  margin-left: auto;
  align-self: flex-end;
}

.message-default {
  text-align: center;
  color: black;
  width: 100%;
}

.message-input {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.message-input input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.message-input button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.message-input button:hover {
  background-color: #0056b3;
}
