<div class="messages">
  <div *ngIf="messages.length === 0" class="message-default">
    <p>Envoyé un message au service client, vous aurez une réponse dans les plus bref delais.</p>
  </div>

  <div *ngFor="let message of messages"
       [class.me]="message.sender === localStorage.getItem('userName')"
       [class.other]="message.sender !== localStorage.getItem('userName')">
    <p>{{ message.message }}</p>
  </div>
</div>

<div class="message-input">
  <input type="text" [(ngModel)]="newMessage" placeholder="Type your message..." />
  <button (click)="sendMessage()">Send</button>
</div>
