<div class="authentification_page">
  <div class="logo_title" fxLayout="row" fxLayoutAlign="center center">
    <mat-icon class="arrow_back-auth-page" (click)="navigate.emit()">arrow_backward</mat-icon>
    <h1>{{ title }}</h1>
  </div>
  <form [formGroup]="form" fxLayout="column" class="form-container" (ngSubmit)="submitForm.emit(form.value)">
    <ng-container *ngFor="let field of fields">
      <div class="form-field" fxLayout="column" *ngIf="field.type !== 'select'; else selectField">
        <label [for]="field.name">{{ field.label }}</label>
        <input [id]="field.name" [type]="field.type" [formControlName]="field.name" [placeholder]="field.placeholder">
      </div>
      <ng-template #selectField>
        <div class="form-field" fxLayout="column">
          <label [for]="field.name">{{ field.label }}</label>
          <select [id]="field.name" [formControlName]="field.name">
            <option *ngFor="let option of field.options" [value]="option.id">{{ option.name }}</option>
          </select>
        </div>
      </ng-template>
    </ng-container>
    <button type="submit" [disabled]="form.invalid">{{ buttonText }}</button>
    <span *ngIf="errorMessage" class="error-message">{{ errorMessage }}</span>
  </form>
</div>

