.app {
  width: 100vw;
  border-bottom: 1px solid dimgrey;
  overflow-y: hidden ;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre portée */
}

img {
  width: 165px;
  height: 61px;
  margin-left: 45px;
  padding: 0.5rem;
}

.header {
  cursor: pointer;
  height: 100%;
}

.header_right {
  width: 240px;
  height: 100%;
  margin-right: 35px;
}

.header_right > span {
  font-size: 21px;
  margin-right: 15px;
  font-weight: 500;
}
